.btn-primary
{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    background-color: $primary-color;
    padding: 15px 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid transparent;
    display: inline-block;
    &:hover,&:active,&:focus{
        border: 1px solid $primary-color;
        background-color: #ffffff;
        color: $primary-color;
        transition: 0.5s ease-in;
    }

}